In [29]:
#import all libriaries

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn import svm
from sklearn.model_selection import RandomizedSearchCV

In [30]:
#read the csv file


df=pd.read_csv("C://Users/amrut/Downloads/titanic (1).csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [31]:
# get the information

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [32]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [33]:
#Select 'Pclass','SibSp','Parch','Fare' columns as data.

X = df[['Pclass','SibSp','Parch','Fare']]

In [34]:
#Select ‘Survived’ column as label.

y = df.Survived
X.head()

   Pclass  SibSp  Parch     Fare
0       3      1      0   7.2500
1       1      1      0  71.2833
2       3      0      0   7.9250
3       1      1      0  53.1000
4       3      0      0   8.0500

In [35]:
y.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [39]:
#findthe count


y.value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [37]:
#train the data

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

In [38]:

#apply SVM

model = SVC(C=10, gamma=0.0001,kernel='rbf')

model.fit(X_train, y_train)

y_pred = model.predict(X_test)
y_pred

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0], dtype=int64)

In [14]:
#find the accuracy score


accuracy_score(y_test, y_pred)

0.6771300448430493

In [15]:
# cross validation


model = svm.SVC()
kf=KFold(n_splits=5)
score=cross_val_score(model,X,y,cv=kf)
print("Cross Validation Scores are {}".format(score))
print("Average Cross Validation score :{}".format(score.mean()))

Cross Validation Scores are [0.62011173 0.66853933 0.66853933 0.66292135 0.70786517]
Average Cross Validation score :0.6655953800765803

In [25]:

#RANDOM search


param_random = {'C': [0.1, 1, 10, 100, 1000], 
              'gamma': [1, 0.1, 0.01, 0.001, 0.0001],
              'kernel': ['rbf']} 
random_search=RandomizedSearchCV(estimator = SVC(), param_distributions=param_random,verbose=1, n_jobs=-1,
                            n_iter=20)
random_result = random_search.fit(X_train, y_train)
print('Best Score: ', random_result.best_score_*100)
print('Best Params: ', random_result.best_params_)

Fitting 5 folds for each of 20 candidates, totalling 100 fits
Best Score:  69.31769722814498
Best Params:  {'kernel': 'rbf', 'gamma': 0.1, 'C': 100}

In [26]:

#DEFINING HYPEROPT

In [27]:
pip install hyperopt

Requirement already satisfied: hyperopt in c:\users\amrut\anaconda3\lib\site-packages (0.2.7)
Requirement already satisfied: scipy in c:\users\amrut\anaconda3\lib\site-packages (from hyperopt) (1.7.3)
Requirement already satisfied: py4j in c:\users\amrut\anaconda3\lib\site-packages (from hyperopt) (0.10.9.7)
Requirement already satisfied: networkx>=2.2 in c:\users\amrut\anaconda3\lib\site-packages (from hyperopt) (2.7.1)
Requirement already satisfied: future in c:\users\amrut\anaconda3\lib\site-packages (from hyperopt) (0.18.2)
Requirement already satisfied: six in c:\users\amrut\anaconda3\lib\site-packages (from hyperopt) (1.16.0)
Requirement already satisfied: tqdm in c:\users\amrut\anaconda3\lib\site-packages (from hyperopt) (4.64.0)
Requirement already satisfied: numpy in c:\users\amrut\anaconda3\lib\site-packages (from hyperopt) (1.21.5)
Requirement already satisfied: cloudpickle in c:\users\amrut\anaconda3\lib\site-packages (from hyperopt) (2.0.0)
Requirement already satisfied: colorama in c:\users\amrut\anaconda3\lib\site-packages (from tqdm->hyperopt) (0.4.4)
Note: you may need to restart the kernel to use updated packages.

In [41]:


from hyperopt import tpe, hp, fmin, STATUS_OK,Trials

In [42]:
space= {'C': hp.choice('C', [0.1, 1, 10, 100, 1000]), 
              'gamma': hp.choice('gamma', [1, 0.1, 0.01, 0.001, 0.0001]),
              'kernel':  hp.choice('kernel', ['rbf'])}

In [43]:
# define objective function

def hyperparameter_tuning(params):
    clf = SVC(**params)
    acc = cross_val_score(clf, X_train, y_train,scoring="accuracy").mean()
    return {"loss": -acc, "status": STATUS_OK}

In [44]:
# Initialize trials object
trials = Trials()

best = fmin(
    fn=hyperparameter_tuning,
    space = space, 
    algo=tpe.suggest, 
    max_evals=50, 
    trials=trials
)

print("Best: {}".format(best))

100%|██████████| 50/50 [00:59<00:00,  1.18s/trial, best loss: -0.6961844910784423]
Best: {'C': 3, 'gamma': 1, 'kernel': 0}

In [45]:

trials.results

[{'loss': -0.6961844910784423, 'status': 'ok'},
 {'loss': -0.6930759735158792, 'status': 'ok'},
 {'loss': -0.6646392099652115, 'status': 'ok'},
 {'loss': -0.6602064863651667, 'status': 'ok'},
 {'loss': -0.6661766356188981, 'status': 'ok'},
 {'loss': -0.6930759735158792, 'status': 'ok'},
 {'loss': -0.6646392099652115, 'status': 'ok'},
 {'loss': -0.6856245090337785, 'status': 'ok'},
 {'loss': -0.6961283806531254, 'status': 'ok'},
 {'loss': -0.6931320839411963, 'status': 'ok'},
 {'loss': -0.6856245090337785, 'status': 'ok'},
 {'loss': -0.6587139490517339, 'status': 'ok'},
 {'loss': -0.6856245090337785, 'status': 'ok'},
 {'loss': -0.6706654696442599, 'status': 'ok'},
 {'loss': -0.6676691729323309, 'status': 'ok'},
 {'loss': -0.6661766356188981, 'status': 'ok'},
 {'loss': -0.669195376500954, 'status': 'ok'},
 {'loss': -0.6661766356188981, 'status': 'ok'},
 {'loss': -0.6691392660756369, 'status': 'ok'},
 {'loss': -0.6676691729323309, 'status': 'ok'},
 {'loss': -0.6961844910784423, 'status': 'ok'},
 {'loss': -0.6961844910784423, 'status': 'ok'},
 {'loss': -0.6961844910784423, 'status': 'ok'},
 {'loss': -0.6961844910784423, 'status': 'ok'},
 {'loss': -0.6961844910784423, 'status': 'ok'},
 {'loss': -0.6961844910784423, 'status': 'ok'},
 {'loss': -0.6961844910784423, 'status': 'ok'},
 {'loss': -0.6961844910784423, 'status': 'ok'},
 {'loss': -0.6886993603411513, 'status': 'ok'},
 {'loss': -0.6961844910784423, 'status': 'ok'},
 {'loss': -0.6736281001009987, 'status': 'ok'},
 {'loss': -0.6272472225339468, 'status': 'ok'},
 {'loss': -0.6736505442711256, 'status': 'ok'},
 {'loss': -0.6602064863651667, 'status': 'ok'},
 {'loss': -0.6961844910784423, 'status': 'ok'},
 {'loss': -0.6886993603411513, 'status': 'ok'},
 {'loss': -0.6827067669172932, 'status': 'ok'},
 {'loss': -0.6646392099652115, 'status': 'ok'},
 {'loss': -0.6900796768039501, 'status': 'ok'},
 {'loss': -0.6721467848726294, 'status': 'ok'},
 {'loss': -0.6961844910784423, 'status': 'ok'},
 {'loss': -0.6856245090337785, 'status': 'ok'},
 {'loss': -0.6272472225339468, 'status': 'ok'},
 {'loss': -0.6706654696442599, 'status': 'ok'},
 {'loss': -0.6812366737739872, 'status': 'ok'},
 {'loss': -0.6900796768039501, 'status': 'ok'},
 {'loss': -0.6736281001009987, 'status': 'ok'},
 {'loss': -0.6272472225339468, 'status': 'ok'},
 {'loss': -0.6931320839411963, 'status': 'ok'},
 {'loss': -0.6961844910784423, 'status': 'ok'}]

In [46]:
trials.losses()

[-0.6961844910784423,
 -0.6930759735158792,
 -0.6646392099652115,
 -0.6602064863651667,
 -0.6661766356188981,
 -0.6930759735158792,
 -0.6646392099652115,
 -0.6856245090337785,
 -0.6961283806531254,
 -0.6931320839411963,
 -0.6856245090337785,
 -0.6587139490517339,
 -0.6856245090337785,
 -0.6706654696442599,
 -0.6676691729323309,
 -0.6661766356188981,
 -0.669195376500954,
 -0.6661766356188981,
 -0.6691392660756369,
 -0.6676691729323309,
 -0.6961844910784423,
 -0.6961844910784423,
 -0.6961844910784423,
 -0.6961844910784423,
 -0.6961844910784423,
 -0.6961844910784423,
 -0.6961844910784423,
 -0.6961844910784423,
 -0.6886993603411513,
 -0.6961844910784423,
 -0.6736281001009987,
 -0.6272472225339468,
 -0.6736505442711256,
 -0.6602064863651667,
 -0.6961844910784423,
 -0.6886993603411513,
 -0.6827067669172932,
 -0.6646392099652115,
 -0.6900796768039501,
 -0.6721467848726294,
 -0.6961844910784423,
 -0.6856245090337785,
 -0.6272472225339468,
 -0.6706654696442599,
 -0.6812366737739872,
 -0.6900796768039501,
 -0.6736281001009987,
 -0.6272472225339468,
 -0.6931320839411963,
 -0.6961844910784423]

In [ ]:


                                  #presented by amrutha s kumar